
/* the overlayed element */
.apple_overlay {
    display:none;
    background-image:url(images/white.png);
    width:640px;
    padding:35px;
}

/* default close button positioned on upper right corner ? click out? */
.apple_overlay .close {
    background-image:url(images/close.png);
    position:absolute; right:5px; top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
    opacity: 100;
}

